body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#main_contenet {
    height: 100vh;
}

#header_content {
    width: 100%;
    height: 50%;
    background-color: black;
}

.nav-content {
    padding: 10px;
}

.nav-content .nav-list {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.nav-content .nav-list .nav-list-items {
    list-style-type: none;
    color: white;
}